$icon-font-path: '../fonts/';
//$grid-float-breakpoint:     $screen-md-min !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);

* { outline: none; }

body {  
    font-family: 'Noto Sans', sans-serif;
    margin: 8px;
    background: #ff0303;
    background: #ff0303 url(../images/Tapete.jpg);
}

/* header md lg flexbox */
.vertical-bottom {
    display: flex;
    align-items: flex-end;
}


/* some initial text styles */
a { color: #e3001b; }
ul a { color: #fff; }
h1 { color: #e3001b; margin: 0;}
h2 { color: #e3001b; margin: 0; }
h3 { color: #e3001b; margin: 0; }

/* FF fix */
.img-responsive {
    width: 100%;
}

/* navbar */

.navbar { 
        border: 0; 
        margin: 0 -7px 16px -7px;
    }
.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*.navbar-default {
    background-color: #b80f1a;
    border-color: #b80f1a;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-collapse { padding: 0;}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding: 0px;
    }
}*/

/* general */
.row{
  margin-bottom: 16px
}

.row > [class*='col-'] {
    padding-right:8px;
    padding-left:8px;
}
.row>div>div {  padding: 16px}

.row .row > div[class*="col-"] {

  padding-right:16px;
    padding-left:16px;
  
}

/* boxes */
.red { background-color: #b80f1a; }
.yellow { background-color: #ffe053; }
.blue { background-color: #389bd5; }
.green { background-color: #c4ca37; }
.white { background-color: #fff; }

#yellowBox { padding: 0 16px; height: 195px; }
#greenBox, #greenBoxSM { padding: 0; height: 195px; }
#redBox { margin-bottom: 16px; }

.radius-top-left { border-radius: 40px 0 0 0; }
.radius-top-right { border-radius: 0 40px 0 0; }
.radius-bottom-left { border-radius: 0 0 0 40px; }
.radius-bottom-right { border-radius: 0 0 40px 0; }



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        body { padding-top: 50px; }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .container { width: 1090px;}
    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #yellowBox { height: 160px; }
        #greenBox { height: 160px; }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        
        #greenBoxSM { height: 50px; }
        #greenBoxSM img { width: 75%; }

        /* override navbar toggle display */
        .navbar-header {
            float: none;
        }
        .navbar-left,.navbar-right {
            float: none !important;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 0;
        }
        .navbar-fixed-top {
            top: 0;
            border-width: 0 0 1px;
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-nav {
            float: none!important;
            margin-top: 7.5px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .collapse.in{
            display:block !important;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
