$icon-font-path: '../fonts/';
//$grid-float-breakpoint:     $screen-md-min !default;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body { 
    padding-top: 60px; background: #ff0303;
    background: #ff0303 url(/images/Tapete.jpg);
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.navbar-default {
    background-color: #b80f1a;
    border-color: #b80f1a;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

@media (min-width: 768px) {
.navbar-nav > li {
    float: none;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
}
}

.row{
  margin-bottom: 16px
}

.row > [class*='col-'] {
    padding-right:8px;
    padding-left:8px;
}

.row>div>div { min-height: 100px; padding: 20px}

.red { background-color: #b80f1a; }
.yellow { background-color: #ffe053; }
.blue { background-color: #389bd5; }
.green { background-color: #c4ca37; }
.white { background-color: #fff; }

#yellowBox { padding: 0 35px; height: 195px; }
#greenBox { padding: 0; height: 195px; }


.radius-top-left { border-radius: 40px 0 0 0; }
.radius-top-right { border-radius: 0 40px 0 0; }
.radius-bottom-left { border-radius: 0 0 0 40px; }
.radius-bottom-right { border-radius: 0 0 40px 0; }


html,body {
    height:100%;
}



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }



    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #yellowBox { padding: 0 35px; height: 160px; }
        #greenBox { padding: 0; height: 160px; }
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        
    }
